body {
    margin: auto;
    text-align: center;
    border-style: solid;
    border-color:midnightblue;
    font-family: cursive;
    background-color: white
}
h1 {
    color: midnightblue;
    text-align: center;
    font-size: 57px;
    line-height: 55px;
    font-weight: 50000;
    font-family: cursive
}

p {
    background-color: white;
    color: midnightblue
}

a {
    color: midnightblue;
    font-family: cursive;
}

.oh2 {
    background-color: midnightblue;
    color: white;
    font-size: 25px;
    font: weight:
}
#linkedin:hover{
    background-color:rgb(176, 233, 247);
    border-style:hidden;
}